
    .logo-text {
    font-weight: bold;
    font-size: 44px; /* Default font size, adjust as needed */
    padding-left: 30px; /* Adjust padding as needed */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .logo-text {
        font-size: 28px; /* Adjust font size for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 576px) {
    .logo-text {
        font-size: 22px; /* Further adjust font size for smaller screens */
        padding-left: 10px; /* Further adjust padding for smaller screens */
    }
}


.contact-info {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed for spacing */
    font-weight: 700; /* Optional: adjust font weight */
    font-size: 24px; /* Optional: adjust font size */
    color: #333; /* Optional: adjust text color */
}


.contact-heading {
    text-align: center;
}


  @media (min-width: 576px) {
    .responsive-text {
      padding-left: 20px;
    }
  }

  @media (min-width: 768px) {
    .responsive-text {
      padding-left: 40px;
    }
  }

  @media (min-width: 992px) {
    .responsive-text {
      padding-left: 60px;
    }
  }

  @media (min-width: 1200px) {
    .responsive-text {
      padding-left: 80px;
    }
  }


   /* footer logo */
   .logo-text2 {
    font-weight: bold;
    font-size: 44px; /* Default font size, adjust as needed */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .logo-text2 {
        font-size: 28px; /* Adjust font size for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 576px) {
    .logo-text2 {
        font-size: 22px; /* Further adjust font size for smaller screens */
        padding-left: 10px; /* Further adjust padding for smaller screens */
    }
}
