
    .logo-text {
    font-weight: bold;
    font-size: 44px; /* Default font size, adjust as needed */
    padding-left: 30px; /* Adjust padding as needed */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .logo-text {
        font-size: 28px; /* Adjust font size for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 576px) {
    .logo-text {
        font-size: 22px; /* Further adjust font size for smaller screens */
        padding-left: 10px; /* Further adjust padding for smaller screens */
    }
}


.contact-info {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed for spacing */
    font-weight: 700; /* Optional: adjust font weight */
    font-size: 24px; /* Optional: adjust font size */
    color: #333; /* Optional: adjust text color */
}


.contact-heading {
    text-align: center;
}


  @media (min-width: 576px) {
    .responsive-text {
      padding-left: 20px;
    }
  }

  @media (min-width: 768px) {
    .responsive-text {
      padding-left: 40px;
    }
  }

  @media (min-width: 992px) {
    .responsive-text {
      padding-left: 60px;
    }
  }

  @media (min-width: 1200px) {
    .responsive-text {
      padding-left: 80px;
    }
  }


   /* footer logo */
   .logo-text2 {
    font-weight: bold;
    font-size: 44px; /* Default font size, adjust as needed */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .logo-text2 {
        font-size: 28px; /* Adjust font size for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 576px) {
    .logo-text2 {
        font-size: 22px; /* Further adjust font size for smaller screens */
        padding-left: 10px; /* Further adjust padding for smaller screens */
    }
}



.why-us-explore-item {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.why-us-section-title {
  margin-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  color: #333;
}

.explore-item-content p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
}

.youtube-thumbnail-section {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.youtube-thumbnail-link {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.youtube-thumbnail {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.youtube-thumbnail-link:hover .youtube-thumbnail {
  opacity: 0.7;
  transform: scale(1.1);
}

.youtube-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ff0000; /* YouTube red */
  transition: opacity 0.3s ease;
}

.youtube-thumbnail-link:hover .youtube-icon {
  opacity: 1;
}
